﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            <div class="container">
                <br>
                <div class="text-center">

                    <a class="quick-btn" href="#">
                        <i class="fa fa-cart-plus fa-2x"></i>
                        <span>Ebay Setup</span>
                        <span class="label label-default">2</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-id-card fa-2x"></i>
                        <span>My Account</span>
                        <span class="label label-danger">2</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-user fa-2x"></i>
                        <span>User</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-group fa-2x"></i>
                        <span>Users</span>
                        <span class="label label-success">-456</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-signal fa-2x"></i>
                        <span>Statistics</span>
                        <span class="label label-warning">+25</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-sliders fa-2x"></i>
                        <span>Settings</span>
                        <span class="label btn-metis-2">3.14159265</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-info fa-2x"></i>
                        <span>Help</span>
                        <span class="label btn-metis-4">2.71828</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="fa fa-link fa-2x"></i>
                        <span>LogOut</span>
                        <span class="label btn-metis-3">1.618</span>
                    </a>

                </div>
                <hr>
                @*<div class="row">
                    <form class="form-horizontal form-inline">
                        <div class="col-xs-4">
                            <label>Select Your Currency</label>
                            <select id="lunch" class="form-control">
                                <option>Dollar</option>
                                <option>pound</option>
                                <option>Euro</option>
                                <option>Rupees</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label>Select A Shipper</label>
                            <select id="lunch" class="form-control">
                                <option>Amazon</option>
                                <option>ebay</option>
                                <option>Walmart</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label>Tax</label>
                            <select id="lunch" class="form-control">
                                <option>10 %</option>
                                <option>20 %</option>
                                <option>30 %</option>
                            </select>
                        </div>
                    </form>
                </div>
                <br>
                <div class="row">
                    <h2>Ebay Search</h2>
                    <div class="col-xs-8">
                        <form action="@Url.Action("Search","Home")" method="post">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                                    </button>
                                    <select class="dropdown-menu" role="menu">
                                        <option><a href="#contains">AUS</a></option>
                                        <option><a href="#its_equal">UK</a></option>
                                        <option><a href="#greather_than">USA</a></option>
                                    </select>
                                    <select>
                                        
                                    </select>
                                </div>
                                <input type="hidden" name="search_param" value="all" id="search_param">

                                <input type="text" class="form-control" name="search"  value=@ViewBag.tit>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <div class="col-xs-4">
                        <form class="form-horizontal">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="x" placeholder="Min">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="x" placeholder="Max">
                            </div>
                        </form>
                    </div>
                </div>*@
                <div class="row">
                    <form action="@Url.Action("Search","Home")" method="post">
                        <div class="col-md-2">
                            <select required class="form-control" name="country">
                                <option disabled selected>Select Country</option>
                                <option value="https://www.ebay.com.au/">AUS</option>
                                <option value="https://www.ebay.co.uk/">UK</option>
                                <option value="https://www.ebay.com/">USA</option>
                            </select>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" value=@ViewBag.tit>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                        </form>
</div>
                <br>
                @foreach (var item in ViewBag.list)
                {


                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <img src=@item.Image width="200" height="200" />
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-info"><a href=@item.Url>@item.Title</a></h4>

                            <h4><b>@item.Price</b></h4>
                            <p>Buy it Now</p>
                        </div>
                    </div>
                </div>
                <br />
                }
                
                <!-- /.row -->
                <!--End Datatables-->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

    <div id="right" class="onoffcanvas is-right is-fixed bg-light" aria-expanded=false>
        <a class="onoffcanvas-toggler" href="#right" data-toggle=onoffcanvas aria-expanded=false></a>
        <br>
        <br>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
        </div>
        <!-- .well well-small -->
        <div class="well well-small dark">
            <ul class="list-unstyled">
                <li>Visitor <span class="inlinesparkline pull-right">1,4,4,7,5,9,10</span></li>
                <li>Online Visitor <span class="dynamicsparkline pull-right">Loading..</span></li>
                <li>Popularity <span class="dynamicbar pull-right">Loading..</span></li>
                <li>New Users <span class="inlinebar pull-right">1,3,4,5,3,5</span></li>
            </ul>
        </div>
        <!-- /.well well-small -->
        <!-- .well well-small -->
        <div class="well well-small dark">
            <button class="btn btn-block">Default</button>
            <button class="btn btn-primary btn-block">Primary</button>
            <button class="btn btn-info btn-block">Info</button>
            <button class="btn btn-success btn-block">Success</button>
            <button class="btn btn-danger btn-block">Danger</button>
            <button class="btn btn-warning btn-block">Warning</button>
            <button class="btn btn-inverse btn-block">Inverse</button>
            <button class="btn btn-metis-1 btn-block">btn-metis-1</button>
            <button class="btn btn-metis-2 btn-block">btn-metis-2</button>
            <button class="btn btn-metis-3 btn-block">btn-metis-3</button>
            <button class="btn btn-metis-4 btn-block">btn-metis-4</button>
            <button class="btn btn-metis-5 btn-block">btn-metis-5</button>
            <button class="btn btn-metis-6 btn-block">btn-metis-6</button>
        </div>
        <!-- /.well well-small -->
        <!-- .well well-small -->
        <div class="well well-small dark">
            <span>Default</span><span class="pull-right"><small>20%</small></span>

            <div class="progress xs">
                <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>
            <span>Success</span><span class="pull-right"><small>40%</small></span>

            <div class="progress xs">
                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>
            <span>warning</span><span class="pull-right"><small>60%</small></span>

            <div class="progress xs">
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <span>Danger</span><span class="pull-right"><small>80%</small></span>

            <div class="progress xs">
                <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
        </div>
    </div>
    <!-- /#right -->
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
    <p>2017 &copy; developed by <a href="http://www.ubssols.com"><b>UBS Solutions.</b></a></p>
</footer>
<!-- /#footer -->
<!-- #helpModal -->
<div id="helpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /#helpModal -->

